
    <div class="hero-section">
        <div class="container-fluid p-0">
            <div class="hero-image">
                <div class="hero-text text-center text-white d-flex flex-column justify-content-center align-items-center h-100">
                    <div class="hero-text"><h1 class="display-4">Welcome to MindShaft!</h1>
                        <p class="h3">Create and share flashcard decks with ease and efficiency.</p>
                        <p class="h3">Dig up some new knowledge today!</p>
                    </div>
                    <a href="{% url 'account_login' %}" class="btn create-btn btn-lg m-2">Log In</a>
                    <a href="{% url 'account_signup' %}" class="btn create-btn btn-lg m-2">Sign Up</a>
                </div>
            </div>
        </div>
    </div>