{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex flex-column text-align-center">
            <h2 class="text-center mb-4">{% trans "Login" %}</h2>
            <form method="post" action="{% url 'account_login' %}" class="text-center my-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn create-btn w-100">{% trans "Login" %}</button>
            </form>
            <p class="text-center mt-3">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
            <p class="text-center mt-3">
                {% trans "Don't have an account?" %}
                <a href="{% url 'account_signup' %}">{% trans "Sign Up here" %}</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}