{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}
    {{ deck.name }}
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <h1 class="text-center">Create New Card</h1>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-3 d-flex justify-content-center">
            <a href="{% url 'index' %}" class="btn btn-secondary mb-3">Home</a>
        </div>
    </div>
    <form action="{% url 'insert_card' deck.id%}" method="POST">
        {% csrf_token %}
        <p>Name</p>
        <input type="text" placeholder="Title.." name="name"></input>
        <p>Text</p>
        <input type="text" placeholder="Text.." name="text"></input>
        <p>Question</p>
        <input type="text" placeholder="Question..." name="question"></input>
        <p>Answers</p>
        <input type="text" placeholder="Answers.." name="answers"></input>
        <button type="submit" class="btn-save" aria-label="Save">Save</button>
    </form>
</div>

{% endblock %}