{% load static %}

<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top align-items-center">
            <div class="container-fluid">
                <!-- Site Icon -->
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/site_icon.png' %}" alt="Site Icon" width="60" height="60" class="d-inline-block align-text-top">
                </a>
                <h1 class="navbar-brand">MindShaft</h1>
                <!-- Navbar Home and Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <!-- Home Button -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                    </ul>
                    <!-- Conditional Buttons (Right Side) -->
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <!-- Logout Button -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <!-- Sign In Button -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                            </li>
                            <!-- Sign Up Button -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
